.popup-add {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 195px 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;  
}

.popup-add__container {
    width: 430px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 34px 36px 37px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 700px) {
    .popup-add__container {
      width: 300px;
      padding: 25px 22px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .popup-add__container {
      width: 282px;
      box-shadow: none;
    }
  }

.popup-add__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .popup-add__title {
      font-size: 18px;
      line-height: 22px;
    }
  }

.popup-add__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 48px;
    padding: 0;
}

.popup-add__form:last-child {
    gap: 0;
  }
  @media screen and (max-width: 700px) {
    .popup-add__form {
      margin-top: 75px;
    }
  }


.popup-add__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 27px;
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    outline: none;
    box-sizing: border-box;
    margin-top: 30px;
}

.popup-add__input:first-of-type {
    margin-top: 0;
  }
  
  .popup-add__input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }


.popup-add__create-button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    min-height: 50px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: 48px auto 0;
    transition: opacity 0.4s ease;
    box-sizing: border-box;
}
.popup-add__create-button:hover,
.popup-add__create-button:focus {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .popup-add__create-button {
    min-height: 46px;
    margin: 45px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup-add__close-button {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/closeicon.svg);
    background-size: contain;
    padding: 0;
    transition: opacity 0.4s ease;
}


.popup-add__close-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 700px) {
    .popup-add__close-button {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
    }
  }