.popup__content {
  width: 430px;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .popup__content {
    width: 300px;
    padding: 25px 22px;
  }
}

@media screen and (max-width: 425px) {
  .popup__content {
    width: 282px;
  }
}
