.header__logo {
  width: 142px;
  height: 33px;
  margin-left: 50px;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
  }
}
