.page-container {
  max-width: 980px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше отцентрировали весь контент */

  font-family: 'Inter', 'Arial', sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
