.popup-edit-profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
  margin-top: 48px;
  padding: 0;
}

.popup-edit-profile__form:last-child {
  gap: 0;
}
@media screen and (max-width: 700px) {
  .popup-edit-profile__form {
    margin-top: 75px;
  }
}
