.profile__pencil {
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-image: url(../../../images/pencil.png);
  min-width: 26px;
  min-height: 26px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: opacity 0.4s ease;
}
