.profile__pencil {
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-image: url(../../../images/pencil.png);
  padding: 0;
  cursor: pointer;
  border: none;
}
