.photo-grid__like-button {
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/Vector.svg);
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  color: black;
  cursor: pointer;
  border: none;
  transition: opacity 0.4s ease;
  background-size: fill;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
}
